@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

/* PALETA DE CORES */
:root {
  --primary: #446C9D;
  --secondary: #5176A3;
  --tertiary: #193960;
  --quaternary: #34567C;
 
  --white: #fff;
  --gray: #8a8c90;
  --gray-dark: #424440;
  --green: #1D590C;
 
  --notification: #f84a4b;
  --link: #5d80d6;
  
  --link-white-hover: #DfDEDE;
  --button-hover: #266DD3;
}

